body{
    background-color:#ccc;
    min-width: 440px;
    font: 1em ;
}
* { margin: 0; padding: 0; }


h1 {
    margin-bottom: 0%;
    min-width: 440px;
    text-align:center; 
    font-size:50px; 
    text-transform:uppercase; 
    color:#222; 
    letter-spacing:1px;
    font-family:"Playfair Display", 
    serif; font-weight:400;
  }


 h1 span {
    margin-top: 5px;
      font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
      text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
   h1 span:after, h1 span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      height: 5px;
    background-color:#ccc;
  }

  .ticker {
      display: flex;
      justify-content: center;
      margin-bottom: 0.5em;
  }

  .newsBlock {
      border: #222;
  }
/* 
  #tickerID{
      /* background-color:grey; */
  /* } */ 
 .content-sidebar{
    display: flex;
    flex-direction:column;
    gap: 1em;
    margin-bottom: 0.7em;
  }
.chartbox{
flex: 1 1 70%;
}

#historicalDiv {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#newsDiv{
    display: flex;
    flex-direction: column;
    gap: 2.3em;
/* display: flex; */
/* flex: 1 1 30%; */
}

#newsContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


@media only screen and (min-width: 768px) {
    body{
        background-color: white; 
        /* display: flex; */
        /* flex-direction: column; */
    } 

    .content-sidebar{
        display: flex;
        flex-direction:row;
        /* gap: 1em; */
        /* margin-bottom: 0.7em; */
      }
}
/* need to set media query at 770 */

/* This can be used as the display on wide mode  */
/* h1 span {
    margin-top: 5px;
      font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
      text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  } */